@import 'src/styles/variables';

.cores {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;

    @media (max-width: 1024px) {
        width: 90%;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }
}

.core {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    width: 200px;

    &_img {
        @media (max-width: 767px) {
            width: 70px;
            height: 70px;
        }
    }

    &_number {
        font-size: 46px;
        font-weight: 700;
        line-height: 59.8px;
        color: $yellow;
    }

    &_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $grey;
    }

    @media (max-width: 767px) {
        gap: 30px;
    }
}
