@import 'src/styles/variables';

.yellow {
    font-family: 'Quattrocento Sans' !important;
    font-weight: 700 !important;
    color: $white !important;
    text-transform: uppercase;

    background-color: $yellow !important;
    border-radius: 4px;

    &:hover {
        color: $black !important;
        background-color: $yellow !important;
    }
}

.transparent {
    font-family: 'Quattrocento Sans' !important;
    font-weight: 700 !important;
    color: $white !important;
    text-transform: uppercase;

    background-color: transparent !important;
    border: 1px solid $white !important;
    border-radius: 4px;

    &:hover {
        color: $white !important;
        background-color: $yellow !important;
    }
}

.transparentBg {
    font-family: 'Quattrocento Sans' !important;
    font-weight: 700 !important;
    color: $yellow !important;
    text-transform: uppercase;

    background-color: transparent !important;
    border: 1px solid $yellow !important;
    border-radius: 4px;

    &:hover {
        color: $white !important;
        background-color: $yellow !important;
    }
}

.smallest {
    width: 20px;
}

.small {
    width: 40px !important;
    padding: 10px !important;
}

.medium {
    width: 194px;
}

.half {
    width: 45%;
}

.large {
    width: 250px;
}

.full {
    width: 90%;
}
