@import 'src/styles/variables';

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    width: 100%;
    height: fit-content;

    &_title {
        font-size: 46px;
        font-weight: 700;
        line-height: 59.8px;
        text-align: center;
        @media (max-width: 767px) {
            width: 90%;
        }
    }

    &_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: $grey;
        text-align: center;
        @media (max-width: 1024px) {
            width: 90%;
        }
    }
}

.values {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;

    @media (max-width: 1024px) {
        width: 95%;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        gap: 30px;
    }
}

.value {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    width: 30%;

    &_title {
        font-size: 20px;
        line-height: 30px;
    }

    &_text {
        width: 90%;

        font-size: 16px;
        line-height: 25px;
        color: $grey;
        text-align: center;
        text-wrap: balance;
    }

    @media (max-width: 767px) {
        gap: 15px;
        width: 100%;
    }
}

.safety {
    border: 1px solid;
    border-image-source: linear-gradient(0.01deg, rgb(218 219 221 / 0%) 0%, rgb(218 219 221 / 50%) 12.33%, #dadbdd 51.91%, rgb(218 219 221 / 50%) 87.85%, rgb(218 219 221 / 0%) 100%);
    border-image-slice: 1;

    @media (max-width: 767px) {
        border-image-source: linear-gradient(90deg, rgb(218 219 221 / 0%) 0%, rgb(218 219 221 / 50%) 12.33%, #dadbdd 51.91%, rgb(218 219 221 / 50%) 87.85%, rgb(218 219 221 / 0%) 50%);
        padding: 30px 0 50px 0;
    }
}
