.textStyles {
    font-family: 'Quattrocento Sans' !important;
    color: black;
}

.inputStyles {
    background-color: #f3f3f3;
    border: 0.5px solid #d4d4d4;
    border-radius: 4px;

    &:hover {
        border-color: #d4d4d4;
    }
}

.inputStylesFocus {
    border-color: #d4d4d4;
}

.errorStyles {
    font-family: 'Quattrocento Sans' !important;
    font-size: 14px !important;
    line-height: 16px !important;
}
