@import 'src/styles/variables';

.footer {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 450px;
    padding: 50px 150px 50px 100px;

    color: $white;

    background-color: $blue;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 50px;
            align-items: center;
            justify-content: start;

            height: fit-content;
            min-height: 600px;
            padding: 20px 10px;
        }
    }

    @media (max-width: 1024px) {
        padding: 50px 70px;
    }

    @media (max-width: 767px) {
        flex-direction: column;
        height: fit-content;
    }

    @media (max-width: 480px) {
        min-height: 750px;
        padding: 30px 20px;
    }
}

.button {
    &:hover {
        &_arrow {
            color: black !important;
        }
    }
    &_wrapper {
        align-self: flex-end;
        width: 64px;
        height: 44px;

        @media (max-width: 767px) {
            position: absolute;
            right: 15%;
            bottom: 30px;
        }
        @media (max-width: 480px) {
            right: 10%;
            bottom: 20px;
        }
    }
}
