@import 'src/styles/variables';

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    width: 100%;
}

.title {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    text-align: center;
}

.facts {
    display: flex;
    gap: 50px;

    @media (max-width: 1024px) {
        gap: 20px;
    }

    @media (max-width: 767px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 480px) {
        gap: 10px;
    }
}

.fact {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    &_count {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);

        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
    }

    &_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: $grey;
    }

    @media (max-width: 767px) {
        flex-basis: 35%;
    }

    @media (max-width: 480px) {
        gap: 10px;
    }
}
